:root {
  --ifm-color-primary: #0b6cff;
  --ifm-color-primary-dark: #0a61e6;
  --ifm-color-primary-darker: #095bd8;
  --ifm-color-primary-darkest: #074bae;
  --ifm-color-primary-light: #277eff;
  --ifm-color-primary-lighter: #3587ff;
  --ifm-color-primary-lightest: #5da1ff;
}
